In [1]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data_file = "data/AB_NYC_2019.csv"
df = pd.read_csv(data_file)

In [ ]:
df.head()

In [ ]:
df['neighbourhood_group'].value_counts()

In [ ]:
df['neighbourhood'].value_counts()

In [ ]:
df['number_of_reviews'].hist()

In [ ]:
df['price'].hist()

In [ ]:
df['price'].describe()

In [3]:
df.groupby(['neighbourhood_group'])['price'].agg(['count', 'mean', 'std'])

                     count        mean         std
neighbourhood_group
Bronx                 1091   87.496792  106.709349
Brooklyn             20104  124.383207  186.873538
Manhattan            21661  196.875814  291.383183
Queens                5666   99.517649  167.102155
Staten Island          373  114.812332  277.620403

In [ ]:
is_Bronx = df['neighbourhood_group'] == 'Bronx'
is_Brooklyn = df['neighbourhood_group'] == 'Brooklyn'
is_Manhattan = df['neighbourhood_group'] == 'Manhattan'
is_Queens = df['neighbourhood_group'] == 'Queens'
is_StatenIsland = df['neighbourhood_group'] == 'Staten Island'

In [ ]:
Bronx = df[is_Bronx]
Brooklyn = df[is_Brooklyn]
Manhattan = df[is_Manhattan]
Queens = df[is_Queens]
StatenIsland = df[is_StatenIsland]

In [ ]:
Bronx.to_csv("Bronx.csv",index = False)
Brooklyn.to_csv("Brooklyn.csv",index = False)
Manhattan.to_csv("Manhattan.csv",index = False)
Queens.to_csv("Queens.csv",index = False)
StatenIsland.to_csv("StatenIsland.csv",index = False)